
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
}

.card img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h2 {
    color: #333;
}

.card p {
    color: #666;
    font-size: 14px;
}

.botao {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.botao:hover {
    background: #0056b3;
  
}